.move-to-bottom-right{
    position:fixed;
    bottom: 0;
    right:0;
}
.floatRight{
    float:right;
  }
.fullWidth{
    width: 100%;
  }
  .gridContainer{
    margin: 0 40px 40px 40px;
  }

  .add-item-container{
    
    padding: 60px;
  }
  .app-container{
    background-color: #ddddff;
  }