:root {
    --background-color0: #eeeeff;
    --background-color1: #ddddff;
    --background-color2: #ccccff;
    --background-color3: #bbbbff;
    --background-color4: #aaaaff;
    --fontColor-1: #fff;
    --fontColor-2: #00f;
    --fontColor-3: #0f0;
    --fontColor-4: #f00;
    --border-color1: #99f;
    --border-color2: #88f;
    --border-color3: #77f;
    --border-color4: #66f;
}