.grid-container{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
}

.grid-header-row, .grid-data-row{
    display:flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    border-bottom: solid 1px black;
}

.grid-header-row{
    font-weight: bold;
    font-size: 18px;
    background-color: #444455;
    color: #ffffff;
}

.data-cell, .header-cell{
    width: 150px;
    border-left: solid 1px black;
    padding: 5px;
    text-align: center;
}
.data-rows-container>div:nth-child(odd){
    background-color: #ddddff;
}
.data-rows-container>div:nth-child(even){
    background-color: #ddddee;
}